<section>
    <div class="title">
        <h1>LATEST GALLERY</h1>
        <span>WITNESS OUR GOALS</span>
    </div>
    <div class="topbar" id="topbar">
        <div class="tabs">
            <div class="tab all" onclick="filterSelection('all')">All</div>
            <div class="tab cool" onclick="filterSelection('cool')">Cool</div>
            <div class="tab fun" onclick="filterSelection('fun')">Fun</div>
            <div class="tab blow" onclick="filterSelection('blow')">Blow</div>
            <div class="tab relax" onclick="filterSelection('relax')">Relax</div>
            <div class="tab bliss" onclick="filterSelection('bliss')">Bliss</div>
            <div class="tab slick" onclick="filterSelection('slick')">Slick</div>
            <div class="tab enjoin" onclick="filterSelection('enjoin')">
                Enjoin
            </div>
        </div>
    </div>
    <div class="container fiter">
        <div class="image slick">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port9.jpg"
                 alt="sorry" />
        </div>
        <div class="image relax">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2015/12/e3-570x430.jpg"
                 alt="sorry" />
        </div>
        <div class="image blow">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port5.jpg"
                 alt="sorry" />
        </div>
        <div class="image enjoin">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port10.jpg"
                 alt="sorry" />
        </div>
        <div class="image fun">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port2.jpg"
                 alt="sorry" />
        </div>
        <div class="image cool">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port1.jpg"
                 alt="sorry" />
        </div>
        <div class="image fun">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port3.jpg"
                 alt="sorry" />
        </div>
        <div class="image fun">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port4.jpg"
                 alt="sorry" />
        </div>
        <div class="image bliss">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/02/c8.jpg"
                 alt="sorry" />
        </div>
        <div class="image fun">
            <img src="https://1bubze2sol6cfove63681xma-wpengine.netdna-ssl.com/wp-content/uploads/2016/01/port11.jpg"
                 alt="sorry" />
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="column1 col-xl-3" style="width: 22%">
                <h3 style="text-transform: uppercase">Ryan</h3>
                <p style="font-size: 14px; line-height: 2">
                    The point of using Lorem Ipsum is that it has a more-or-less
                    normal distribution of letters, as opposed to using 'Content here,
                    making it look like readable English.
                </p>
                <p class="icon-footer">
                    <a href="#">
                        <i style="width: 15px" class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i style="width: 15px" class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#"><i style="width: 15px" class="fab fa-twitter"></i></a>
                    <a href="#"><i style="width: 15px" class="fab fa-youtube"></i></a>
                </p>

                <p></p>
            </div>

            <div class="column1 col-xl-3" style="width: 22%">
                <h3 style="text-transform: uppercase">Useful links</h3>
                <ul>
                    <li><a href="#">Membership Offers</a></li>
                    <li>
                        <a style="border-top: solid 1px #f4f4f4" href="#">Training Schedule</a>
                    </li>
                    <li>
                        <a style="border-top: solid 1px #f4f4f4" href="#">Inter Competitions</a>
                    </li>
                    <li>
                        <a style="border-top: solid 1px #f4f4f4" href="#">Awards & Trophies</a>
                    </li>
                </ul>
            </div>
            <div class="column1 col-xl-3" style="width: 22%">
                <h3 style="text-transform: uppercase" ;>Latest posts</h3>
                <img src="~/imgLogin/basketball-team-70x60.jpg" />
                <div style="float: right; margin-top: -10px; margin-right: 5px">
                    <h4><a href="#">Basketball Team</a></h4>
                    <p style="font-size: 13px; margin-top: -26px; padding-left: 16px">
                        11 Feb 2015
                    </p>
                </div>
                <div>
                    <img src="~/imgLogin/golf-70x60.jpg" style="padding-top: 15px" />
                    <div style="float: right; margin-top: 10px; padding-right: 20px">
                        <h4><a href="#">Tee Shot Zone</a></h4>
                        <p style="font-size: 13px; margin-top: -26px; padding-left: 16px">
                            11 Feb 2015
                        </p>
                    </div>
                </div>
            </div>
            <div class="column1 col-xl-3" style="width: 22%; float: right">
                <h3 style="text-transform: uppercase">About ryan</h3>
                <ul style="list-style: none; padding: 0">
                    <li>Monday - Friday<span>04:00 - 12:00</span></li>
                    <li style="
                  border-top: 1px solid #f4f4f4;
                  border-bottom: 1px solid #f4f4f4;
                ">
                        Saturday<span>14:00 - 21:00</span>
                    </li>
                    <li>Sunday<span>Holiday</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

