<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/font.css" type="text/css" />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <script src="~/js/jquery2.0.3.min.js"></script>
</head>
<body>
    <header class="header fixed-top clearfix">
        <div class="brand" style="z-index:100">
            <a href="index.html" class="logo">
                RYAN-SPORT
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <div class="nav notify-row" id="top_menu">
            <div class="top-nav clearfix">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>

    @RenderBody()


    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
