@model Subject
    <div class="sb-price">
        <div class="container">
            <div class="row">
                <div class="details col-xl-12">
                    <div class="first-details col-xl-4">
                        <img style="width: 100%" src="~/imgLogin/c7.jpg" />
                        <div class="first-content">
                            <h3>Weight training</h3>
                            <span>Training Center</span>
                            <p>
                                Aenean tempor tincidunt diam ut pretium. Nulla elementum
                                rhoncus ante.
                            </p>
                            <a class="regiter" href="#">Regiter</a>
                        </div>
                    </div>
                    <div class="first-details col-xl-4">
                        <img style="width: 100%" src="~/imgLogin/c8.jpg" />
                        <div class="first-content">
                            <h3>TENNIS CHAMPION</h3>
                            <span>Reputed Training</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam a lectus eget orci.
                            </p>
                            <a class="regiter" href="#">Regiter</a>
                        </div>
                    </div>
                    <div class="first-details col-xl-4">
                        <img style="width: 100%" src="~/imgLogin/c9.jpg" />
                        <div class="first-content">
                            <h3>TREKKING PRACTICE</h3>
                            <span>By well Experienced</span>
                            <p>
                                Nunc at pretium est curabitur commodo leac est venenatis
                                egestas sed.
                            </p>
                            <a class="regiter" href="#">Regiter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div 