<link rel="stylesheet" href="~/css/form.css" />
<div class="form">
    <section class="locarion">
        <div class="content">
            <h1>OUR LOCATION</h1>
            <div class="locarion-content">
                <i class="fa fa-rocket"></i>
                <p class="locarion-text">
                    No: 58 A, East Madison St Baltimore, MD, USA
                </p>
            </div>
            <div class="locarion-content">
                <i class="fa fa-rocket"></i>
                <p class="locarion-text">
                    Entrance Gym CS Nagar 2nd Cross, Vadavalli, Cbe, TN, IND
                </p>
            </div>
        </div>
        <div class="content">
            <h1>CONTACT US</h1>
            <p>
                <i class="fa fa-envelope"></i>
                <a href="#">yourname@somemail.com</a>
            </p>
            <p>
                <i class="fa fa-phone"></i>
                <span> +1 200 258 2145 </span>
            </p>
            <p>
                <i class="fa fa-globe"></i>
                <a href="http://www.google.com/">google.com</a>
            </p>
        </div>
        <div class="content">
            <h1>CONSULTING TIME</h1>
            <div class="content-contructing">
                <div class="content-day">
                    <b>Monday - Friday</b>
                    <b>Saturday</b>
                    <b>Sunday</b>
                </div>
                <div class="content-time">
                    <b>16:00 - 20:00</b>
                    <b>10:00 - 20:00</b>
                    <b>10:00 - 14:00</b>
                </div>
            </div>
        </div>
    </section>
    <section class="enquyry-form">
        <form asp-action="Create" asp-controller="Contact" method="post">
            <h1>ENQUIRY FORM</h1>
            <div class="form-label">
                <div class="form-left">
                    <label>
                        <input type="text" placeholder="First name" name="FirstName"/>
                        <i class="fa fa-user"></i>
                    </label>
                    <label>
                        <input type="text" placeholder="Last name" name="LastName"/>
                        <i class="fa fa-user"></i>
                    </label>
                    <label>
                        <input type="text" placeholder="Email" name="Email"/>
                        <i class="fa fa-envelope"></i>
                    </label>
                    <label>
                        <input type="text" placeholder="Phone" name="PhoneNumber"/>
                        <i class="fa fa-phone"></i>
                    </label>
                </div>
                <div class="form-left">
                    <label>
                        <input type="text" placeholder="Address 1" name="Address01"/>
                        <i class="fa fa-compass"></i>
                    </label>
                    <label>
                        <input type="text" placeholder="Address 2" name="Address02"/>
                        <i class="fa fa-compass"></i>
                    </label>

                    <label>
                        <textarea placeholder="Message" name="Messenger"></textarea>
                        <i class="fa fa-edit"></i>
                    </label>
                </div>
            </div>
            <div class=button>
                <button>SUBMIT FORM</button>
            </div>
        </form>
    </section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="column1 col-xl-3" style="width: 22%">
                <h3 style="text-transform: uppercase">Ryan</h3>
                <p style="font-size: 14px; line-height: 2">
                    The point of using Lorem Ipsum is that it has a more-or-less
                    normal distribution of letters, as opposed to using 'Content here,
                    making it look like readable English.
                </p>
                <p class="icon-footer">
                    <a href="#">
                        <i style="width: 15px" class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i style="width: 15px" class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#"><i style="width: 15px" class="fab fa-twitter"></i></a>
                    <a href="#"><i style="width: 15px" class="fab fa-youtube"></i></a>
                </p>

                <p></p>
            </div>

            <div class="column1 col-xl-3" style="width: 22%">
                <h3 style="text-transform: uppercase">Useful links</h3>
                <ul>
                    <li><a href="#">Membership Offers</a></li>
                    <li>
                        <a style="border-top: solid 1px #f4f4f4" href="#">Training Schedule</a>
                    </li>
                    <li>
                        <a style="border-top: solid 1px #f4f4f4" href="#">Inter Competitions</a>
                    </li>
                    <li>
                        <a style="border-top: solid 1px #f4f4f4" href="#">Awards & Trophies</a>
                    </li>
                </ul>
            </div>
            <div class="column1 col-xl-3" style="width: 22%">
                <h3 style="text-transform: uppercase" ;>Latest posts</h3>
                <img src="~/imgLogin/basketball-team-70x60.jpg" />
                <div style="float: right; margin-top: -10px; margin-right: 5px">
                    <h4><a href="#">Basketball Team</a></h4>
                    <p style="font-size: 13px; margin-top: -26px; padding-left: 16px">
                        11 Feb 2015
                    </p>
                </div>
                <div>
                    <img src="~/imgLogin/golf-70x60.jpg" style="padding-top: 15px" />
                    <div style="float: right; margin-top: 10px; padding-right: 20px">
                        <h4><a href="#">Tee Shot Zone</a></h4>
                        <p style="font-size: 13px; margin-top: -26px; padding-left: 16px">
                            11 Feb 2015
                        </p>
                    </div>
                </div>
            </div>
            <div class="column1 col-xl-3" style="width: 22%; float: right">
                <h3 style="text-transform: uppercase">About ryan</h3>
                <ul style="list-style: none; padding: 0">
                    <li>Monday - Friday<span>04:00 - 12:00</span></li>
                    <li style="
                  border-top: 1px solid #f4f4f4;
                  border-bottom: 1px solid #f4f4f4;
                ">
                        Saturday<span>14:00 - 21:00</span>
                    </li>
                    <li>Sunday<span>Holiday</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>